* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(253, 226, 189);
}

.navBar{
  padding: 0;
  margin: 0;
  height: 7vh;
  background-color: white;
}

#canvas{
  background-color: rgba(253, 226, 189);
}